@import "tailwindcss";

:root {
  --primary: #001bb7;
  --primary-text: #dfdff8;
  --secondary: #0046ff;
  --accent: #ff8040;
  --success: #16a34a;
  --error: #dc2626;
  --warning: #f59e0b;
  --background: #f5f1dc;
  --text: #111827;
}

.light {
  --accent: #f97316;

  --text: #1f2937;

  --error: #dc2626;

  --light-gray: #e5e7eb;
}

.dark {
  --accent: #0e0e0d;

  --text: #f9fafb;

  --error: #ef4444;

  --light-gray: #d1d5db;
}

.coffee {
  --accent: #8b4513;

  --text: #3e2723;

  --error: #c62828;

  --light-gray: #d6ccc2;
}
